<!DOCTYPE html>
<html ng-app="inspirationalistApp">
<head>
	<title>Inspirationalist</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
	<script src='https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="inspirationalist.css">
	<script type="text/javascript" src="inspirationalist.js"></script>

</head>
<body ng-controller="myController">

<!--***************************************************
****************************NAV BAR********************-->

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Inspirationalist</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">About us</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchText"/>
    <!--     <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#">Link</a></li> -->


<!--***************************************************
***************MODAL SUBMIT FORM********************-->
		<button id="submitButton" class="btn btn-info" data-toggle="modal" data-target=".bs-example-modal-lg">Inspire</button>
			<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal">
				<div class="modal-dialog modal-lg">
  				<div class="modal-content">
  					<form role="form" ng-submit="addPin()">
					  <div class="form-group">
					  	<h2>Inspire others with your favorite images and quotes!</h2>
					    <label>Favorite Images</label>
					    <input type="text" class="form-control" ng-model="newPicture" placeholder="Enter URL of your favorite inspirational images">
					  </div>
            <div class="form-group">
             <label>Youtube Video</label>
             <input type="text" class="form-control" ng-model="newVideo" placeholder="Enter the Youtube embed link of an inspirational video ">
            </div>
					  <div class="form-group">
					    <label>Favorite Quotes</label>
					    <input type="text" class="form-control" ng-model="newDescription" placeholder="Insert a quote that inspires and will inspire others (don't forget the quotes)">
					  </div>
					  <input type="submit" class="btn btn-info" value="Submit">
					</form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
</nav>

<!--***************************************************
************************HEADER**********************-->

<!-- <div class="jumbotron">
  <h1>INSPIRATIONALIST</h1>
  <button type="button" class="btn btn-info btn-lg">Be Inspirational</button>
  <button type="button" class="btn btn-info btn-lg">Be Inspired</button>
</div> -->


<!--***************************************************
************************PINS************************-->

  <div class="wrapper" ng-click="enlargeModal">
    <div class="columns">
      <div class="pinContainer" ng-repeat="interest in interests | orderByPriority | filter:searchText" data-toggle="modal" data-target=".bs-view-modal-lg" ng-click="setModalPicture(interest.picture)">
        <!--insert image and misc data-->
        <div class="picture"> <img ng-src= "{{interest.picture}}"> </div>
        <div class="description"> {{interest.description}} </div>
        <div class="video"> {{interest.video}} </div>
      </div>
    </div>
  </div>

  
  <div class="modal fade bs-view-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <img src="{{modalPicture}}" width="100%">
      </div>
    </div>
  </div>



</body>
</html>