<!DOCTYPE html>
<html ng-app="inspirationalistApp">
<head>
	<title>Inspirationalist</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
	<script src='https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="inspirationalist.css">
	<script type="text/javascript" src="inspirationalist.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

</head>
<body ng-controller="myController">

<!--***************************************************
****************************NAV BAR********************-->

<nav class="navbar navbar-inverse navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color:#3b5998">Inspirationalist</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <!--     <ul class="nav navbar-nav">
        <li class="active"><a href="#">About us</a></li>
        <li><a href="#">Contact</a></li>
      </ul> -->
      <form class="navbar-form navbar-left" role="search">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchText"/>
    <!--     <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#">Link</a></li> -->


<!--***************************************************
***************FAVORITES MODAL********************-->
  <button id="favoriteButton" class="btn btn-success" data-toggle="modal" data-target=".bs-favoriteModal">My Favorites</button>
    <div class="modal fade bs-favoriteModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="favoriteModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">My Favorites</h4>
          </div>
          
          <div class="modal-body">
            <div class="modalColumns">
              <div class="pinContainer" ng-repeat="interest in interests" ng-show="interest.favorite">
                <div class="picture"> <img style="width:100%" ng-src= "{{interest.picture}}"> </div>
                <div class="video" ng-if="interest.video.length" my-youtube code="interest.video"></div> 
                <div class="description"> {{interest.description}} </div>
                <div style="text-align:center">
                  <button ng-if="interest.picture.length" type="button" class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-zoom-in" data-toggle="modal" data-target=".bs-view-modal-lg" ng-click=" setModalPicture(interest.picture)"></span>
                  </button>
                  <button type="button" ng-click="clickFavorite(interest)"  class="btn btn-default btn-lg" ng-class="{'true': 'btn btn-success', 'false': 'btn'}[interest.favorite]">
                  <span id="favorite" class="glyphicon glyphicon-heart"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

<!--***************************************************
***************MODAL SUBMIT FORM********************-->
		<button id="submitButton" class="btn btn-info" data-toggle="modal" data-target=".bs-example-modal-lg">Inspire</button>
			<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal">
				<div class="modal-dialog modal-lg">
  				<div class="modal-content">
  					<div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h2 class="modal-title">Inspire your peers with your favorite images, videos, and quotes!</h2>
            </div>
            <form role="form" ng-submit="addPin()">
					  <div class="form-group">
					    <label>Favorite Images</label>
					    <input type="text" class="form-control" ng-model="newPicture" placeholder="Enter URL of your favorite inspirational images">
					  </div>
            <div class="form-group">
             <label>Youtube Video</label>
             <input type="text" class="form-control" ng-model="newVideo" placeholder="Enter the Youtube link of an inspirational video ">
            </div>
					  <div class="form-group">
					    <label>Favorite Quotes</label>
					    <input type="text" class="form-control" ng-model="newDescription" placeholder="Insert a quote that inspires you and will inspire others">
					  </div>
					  <input type="submit" class="btn btn-info" value="Submit">
					</form>
        </div>
      </div>
</nav>

<!--***************************************************
************************HEADER**********************-->

<div>
  <h1>INSPIRATIONALIST</h1>
</div>


<!--***************************************************
************************PINS************************-->

  <div class="wrapper" ng-click="enlargeModal">
    <div class="columns">
      <div class="pinContainer" ng-repeat="interest in interests | orderByPriority | filter:searchText">
        <!--insert favorite button,image, and misc data-->
        <div class="picture"> <img ng-src= "{{interest.picture}}"> </div>
        <!--YOUTUBE VIDEO -->
        <div class="video" ng-if="interest.video.length" my-youtube code="interest.video"></div> 
        <div class="description"> {{interest.description}} </div>
        <div style="text-align:center">
          <button ng-if="interest.picture.length" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-zoom-in" data-toggle="modal" data-target=".bs-view-modal-lg" ng-click="setModalPicture(interest.picture)"></span>
          </button>
          <button type="button" ng-click="clickFavorite(interest)"  class="btn btn-default btn-lg" ng-class="{'true': 'btn btn-success', 'false': 'btn'}[interest.favorite]">
              <span id="favorite" class="glyphicon glyphicon-heart"></span>
          </button>
          <!--Facebook-->
          <a class="share-buttons" href="http://www.facebook.com/sharer.php?u=http://www.simplesharebuttons.com" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
          <!-- Pinterest -->
          <a class="share-buttons" href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img src="http://www.simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" /></a>
        </div>
      </div>
    </div>
  </div>


<!--***************************************************
******************POPUP MODAL************************-->
  <div class="modal fade bs-view-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <img src="{{modalPicture}}" width="100%">
      </div>
    </div>
  </div>



</body>
</html>